@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*COLORS*/

$colors: (
    //primary
    softBlue: hsl(231, 69%, 60%),
    softRed: hsl(0, 94%, 66%),
    //neutral
    grayBlue: hsl(229, 8%, 60%),
    vDarkBlue: hsl(229, 31%, 21%),
    //custon
    linkGray: #f7f7f7,
    darkGrayBlue: hsl(229, 8%, 40%),
);

@function color ($color-name) {
    @return map-get($colors, $color-name);
}

/*OTHER VARIABLES*/

$desktop: 1000px;

@mixin desktop{
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

/*************/
/*CORE RULES*/
/*************/

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    img {
        max-width: 700px;
    }
}

body {
    font-size: 18px;
    margin: 0;
    width: 100vw;
    position: relative;
}

header, main, .footer-bottom, .footer-top {
    @include desktop {
        padding-left: 167px;
        padding-right: 167px;
    }
    @include mobile {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.hide {
    visibility: hidden;
}

.mobile-nav {
    @include desktop {
        display: none;
    }
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    padding-left: 35px;
    padding-right: 35px;
    background-color: hsla(229, 31%, 21%, 0.9);
    z-index: 4;
    display: flex;
    flex-direction: column;
    text-align: center;

    ul {
        width: 100%;
        padding: 0;
        li {
            padding: 1rem 0;
            border-bottom-style: solid;
            border-width: 1px;
            border-color: hsla(229, 229, 229, 0.3);
            &:nth-child(1) {
                border-top-style: solid;
            }
        }
    }

    .mobnav-login {
        border-style: solid;
        border-color: white;
        border-radius: 6px;
        padding: .7rem 5rem;
    }

    .mobnav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobnav-bot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a {
        color: white;
        text-transform: uppercase;
    }
    i {
        color: white;
        font-size: 2rem;
    }
}

ul {
    list-style-type: none;
}

.ul-links {
    text-transform: uppercase;
    font-size: 0.8rem;
    li {
        display: inline;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

a {
    text-decoration: none;
    width: fit-content;
    white-space: nowrap;
}

.bookmark-logo {
    width: 150px;
    object-fit: contain;
}

.link-btn {
    padding: 1rem 1rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.blue-btn {
    background-color: color(softBlue);
    color: white;
    &:hover {
        background-color: white;
        border-style: solid;
        border-color: color(softBlue);
        color: color(softBlue);
        border-width: 2px;
    }
}

.white-btn {
    background-color: color(linkGray);
    color: black;
    box-shadow: 0px 7px 14px -1px rgba(204,204,204,0.3);
    &:hover {
        background-color: white;
        border-style: solid;
        border-color: black;
        border-width: 2px;
    }
}

p {
    color: color(grayBlue);
}

.section-text {
    text-align: center;
    padding: 0 15vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, 152px);
    gap: 0.5rem;
    align-items: center;
}

.burger {
    height: fit-content;
    div {
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: black;
    }
    display: none;
    @include mobile {
        display: block;
    }
    cursor: pointer;
}

/********************/

.top-bar {
    grid-area: top-bar;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    nav {
        @include mobile {
            display: none;
        }
        display: flex;
        align-items: center;
        li a {
            color: black;
            &:hover {
                cursor: pointer;
                color: color(softRed);
            }
        }
        .link-btn {
            text-transform: uppercase;
            background-color: color(softRed);
            padding: 0.7rem 1rem;
            color: white;
            margin-left: 1rem;
            &:hover {
                background-color: white;
                color: color(softRed);
                border-color: color(softRed);
                border-style: solid;
                border-width: 2px;
            }
        }
    }
}

.header-text {
    grid-area: header-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        margin-bottom: 2rem;
    }
    @include mobile {
        align-items: center;
        text-align: center;
    }
    h1 {
        margin-top: 0;
    }
}

.hero-img {
    grid-area: hero-img;
    display: flex;
    align-content: center;
    position: relative;
    img {
        width: 100%;
        object-fit: contain;
        /*
        @include desktop {
            min-width: 490px;
        }*/
    }
}

header {
    display: grid;
    @include desktop{
    grid-template:
    "top-bar top-bar"
    "header-text hero-img" / 1fr 1fr;
    }
    @include mobile {
        grid-template:
        "top-bar"
        "hero-img"
        "header-text";
        margin-bottom: 150px;
    }
    .hero-img {
        @include mobile {
            display: flex;
            justify-content: center;
        }
    }
}

main {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .features-switches {
        ul {
            margin: 0;
            padding: 0;
            li {
                width: 150px;
                @include desktop{
                    display: inline-block;
                }
                @include mobile {
                    border-bottom-style: solid;
                    border-width: 1px;
                    border-color: color(grayBlue);
                    width: 240px;
                    &:nth-child(1){
                        border-top-style: solid;
                    }
                }
                button {
                    outline: none;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    width: 100%;
                    background: transparent;
                    border-style: none;
                    border-bottom-style: solid;
                    border-color: transparent;
                    color: color(darkGrayBlue);
                    &:hover {
                        cursor: pointer;
                        color: color(softRed);
                    }
                }
                button.pressed {
                    color: black;
                    border-bottom-style: solid;
                    border-color: red;
                }
        }
        }
        margin-bottom: 3rem;
        hr {
            margin-top: 0;
            @include mobile {
                display: none;
            }
        }
    }
    
    .card.visible {
        display: flex;
    }

    .card {
        //width: 100%;
        display: none;
        @include mobile {
            flex-direction: column;
            margin-bottom: 150px;
        }
        .card-img {
            display: flex;
            justify-content: center;
            width: 100%;
            /*
            @include desktop {
                min-width: 400px;
            }*/
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .card-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include desktop {
                margin-left: 5rem;
            }
            @include mobile {
                align-items: center;
                text-align: center;
            }
        }
    }

        .browsers {
            display: flex;
            justify-content: center;
            @include mobile {
                flex-direction: column;
                margin-bottom: 150px;
            }
            .browser {
                height: 355px;
                width: 280px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                border-radius: 12px;
                box-shadow: 0px 9px 18px 3px rgba(163,163,163,0.2);
                @include desktop{
                    margin-right: 2rem;
                    &:nth-child(2) {
                        margin-top: 2rem;
                    }
                    &:nth-child(3) {
                        margin-top: 4rem;
                        margin-right: 0;
                    }
                }
                @include mobile {
                    margin-top: 2rem;
                }
                span {
                    color: color(grayBlue);
                    font-size: 0.9rem;
                }
                a {
                    margin-top: 5rem;
                }
                background-image: url('/images/bg-dots.svg');
                background-repeat: no-repeat;
                background-position-y: 250px;
            }
        }

        .faq {
            ul{
                @include mobile{
                    width: 100%;
                }
                padding: 0;
                li {
                    .faq-li-top {
                        i {
                            color: color(softBlue);
                            font-size: 1.8rem;
                        }
                        i.rotate {
                            transform: rotate(180deg);
                            color: color(softRed);
                        }
                        display: flex;
                        justify-content: space-between;
                    }
                    .faq-answer {
                        display: none;
                    }
                    .faq-answer.visible {
                        display: inline-block;
                    }
                    padding: 1rem 0;
                    border-bottom-style: solid;
                    border-width: 1px;
                    border-color: color(grayBlue);
                    @include desktop {
                        width: 540px;
                    }
                    @include mobile {
                        width: 100%;
                    }
                    &:nth-child(1){
                        border-top-style: solid;
                    }
                    &:hover {
                        color: color(softRed);
                        cursor: pointer;
                    }
                }
            }
        }
}

footer {
    background-color: color(softBlue);
    color: white;
    .footer-top {
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        .footer-top-container {
            @include desktop{
                width: 450px;
            }
            @include mobile {
                width: 100%;
            }
        }
        form {
            display: flex;
            position: relative;
            @include mobile {
                flex-direction: column;
            }
            input, button {
                height: 50px;
                border-radius: 6px;
                border-style: none;
            }
            input {
                width: 100%;
                position: relative;
                @include desktop {
                    margin-right: 1rem;
                }
                padding-left: 1rem;
                &::placeholder {
                    color: rgba(128, 128, 128, 0.5);
                }
            }

            .red-border {
                border-style: solid;
                border-color: color(softRed);
                border-bottom-width: 20px;
                height: 70px;
            }

            #error-icon {
                width: 20px;
                object-fit: contain;
                position: absolute;
                @include desktop {
                    right: 140px;
                    top: 15px;
                }
                @include mobile {
                    right: 15px;
                    top: 15px;
                }
            }
            em {
                position: absolute;
                font-size: 0.7rem;
                top: 55px;
                left: 15px;
            }
            button {
                @include desktop {
                    width: 30%;
                }
                @include mobile {
                    width: 100%;
                    margin-top: 1rem;
                }
                color: white;
                background-color: color(softRed);
                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: color(softRed);
                    border-style: solid;
                    border-width: 2px;
                    border-color: color(softRed);
                }
            }
        }
    }
    span {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 0.8rem;
    }
    .footer-bottom {
        background-color: color(vDarkBlue);
        display: flex;
        align-items: center;
        @include desktop {
            justify-content: space-between;
        }
        @include mobile {
            flex-direction: column;
        }
        padding-bottom: 1rem;
        padding-top: 1rem;
        a {
            color: white;
        }
        a:hover {
            cursor: pointer;
            color: color(softRed);
        }
        ul {
            padding: 0;
            display: flex;
            align-items: center;
            @include mobile {
                flex-direction: column;
                li {
                    padding: 1rem 0;
                }
            }
            
        }
        .social {
            @include mobile {
                font-size: 1.5rem;
            }
            a:nth-child(1){
                margin-right: 1rem;
            }
            a:nth-child(2){
                margin-left: 1rem;
            }  
        }
    }
}